.user-container {
  text-align: center;
  margin: 2.5rem 15rem;
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding: 2rem 3rem 4rem 3rem;
  box-shadow: 1px 2px 5px lightgray;
  background-color: var(--offWhite);
}

.user-info {
  font-size: 30px;
  margin: 0 0 2rem 0;
  border: 2px dashed var(--primary);
  border-radius: 5px;
}

.dog-container {
  display: flex;
  justify-content: center;
}

.dog-info {
  margin: auto 2rem auto 0;
}

.dog-name {
  font-size: 4.5rem;
  margin: 0;
}

.dog-breed {
  font-size: 30px;
  margin-top: 0;
}

.dog-img {
  width: 400px;
  height: auto;
  border-radius: 20px;
}
