header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-header {
  margin: 1rem 1rem;
}

.logo-img {
  width: 7rem;
  height: 7rem;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  grid-gap: 3rem 5px;
  margin: 2rem 0;
}

.category-card {
  display: flex;
  flex-direction: column;
}

.category-card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.category-name {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.category-img {
  display: block;
  width: 10rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
