header {
  text-align: center;
  padding-top: 3rem;
}

.categories-header {
  margin: 1rem 1rem;
}

.logo-img {
  width: 30rem;
  height: auto;
}

.categories-container {
  width: 65%;
  margin: 7rem auto 0 auto;
}

.category-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 5rem;
}

.category-card {
  display: flex;
  flex-direction: column;
  background-color: var(--offWhite);
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--outline);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  flex-basis: 20%;
  margin: 0 1rem 6rem 1rem;
  /* width: 200px; */
}

.category-card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.category-name {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.category-img {
  display: block;
  width: 10rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
