.places-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(10, auto);
  grid-gap: 2rem 1rem;
  justify-items: center;
  margin: 0 5rem;
}

.place-card {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid var(--outline);
  font-size: 1.5em;
  width: 30rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  padding: 2rem;
}

.place-name {
  font-size: 30px;
  margin: 0;
  font-weight: bolder;
  letter-spacing: 1px;
}

.place-card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.place-rating {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.place-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  padding: 3rem;
  margin: 2rem auto 2rem auto;
  width: 45rem;
}

.place-info {
  font-family: "Roboto", sans-serif;
  color: var(--info);
  font-weight: bold;
  letter-spacing: 0.5px;
}

.place-description {
  text-align: center;
  border: 2px dotted var(--primary);
  padding: 1.5rem;
  width: 15rem;
}

.review-header {
  margin: 0 0 0 2rem;
}

.header-container {
  display: flex;
  justify-content: flex-start;
}

.btn-container {
  margin: auto 0 auto 2rem;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(10, auto);
  justify-items: center;
}
