.review-card {
  background-color: white;
  border: 1px solid lightslategray;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 2rem;
  width: 35rem;
}

.review-name:hover {
  color: var(--warning);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.review-info {
  font-family: "Roboto", sans-serif;
  color: var(--info);
  font-weight: bold;
  letter-spacing: 0.5px;
}

.review-group {
  display: flex;
  justify-content: space-between;
}

.btn-container-two {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
