.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--dark);
  margin: 0;
  padding: 0.5rem 1rem;
}

.navbar-item {
  flex-basis: 15%;
  list-style-type: none;
  color: var(--offWhite);
}

.navbar-link {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
}

.navbar-logout {
  margin-left: auto;
  text-align: end;
}

.navbar-link:hover {
  color: var(--primary);
}

.navbar-img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 2rem;
}
