.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--dark);
  margin: 0;
  padding: 5px 1rem;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  height: 4rem;
}

.navbar-item {
  /* flex-basis: 8%; */
  list-style-type: none;
  color: var(--offWhite);
  margin-right: 65px;
  font-size: 22px;
}

.navbar-link {
  text-decoration: none;
}

.navbar-logout {
  margin-left: auto;
  text-align: end;
}

.navbar-link:hover {
  color: var(--primary);
}

.navbar-img {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}
