.category-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-img-two {
  margin: 0 35px;
  width: auto;
  height: 100px;
}

.locations-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(10, auto);
  grid-gap: 2rem 0;
  justify-items: center;
  align-items: center;
  margin: 55px 10rem;
}

.location-card {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid var(--outline);
  font-size: 1.5em;
  width: 70%;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  padding: 3rem;
}

.location-name {
  font-size: 30px;
  margin: 0;
  font-weight: bolder;
  letter-spacing: 1px;
}

.location-card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.location-rating {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.arrow-btn {
  margin: auto 10px auto 0;
}

.heart-emoji {
  margin: auto 0 auto 10px;
  border-radius: 0;
  color: var(--secondary);
  cursor: pointer;
  background: transparent;
}

.heart-emoji:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.fa-heart {
  font-size: 50px;
}

.location-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: var(--offWhite);
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  padding: 3rem;
  margin: 2rem auto 2rem auto;
  width: 40%;
}

.location-info {
  font-family: "Roboto", sans-serif;
  color: var(--info);
  font-weight: bold;
  letter-spacing: 0.5px;
}

.location-description {
  flex-basis: 60%;
  margin-right: 20px;
}

.location-services {
  text-align: center;
  border: 2px dotted #92e0e4;
  padding: 1.5rem;
  flex-basis: 40%;
  /* width: 20rem; */
}

.review-header {
  margin: 0 0 0 10rem;
}

.header-container {
  display: flex;
  justify-content: flex-start;
}

.btn-container {
  margin: auto 0 auto 2rem;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  grid-gap: 3rem 5rem;
  margin: 1rem 5rem 10rem 5rem;
}
