.comment-card {
  border: 2px dotted var(--primary);
  border-radius: 8px;
  padding: 1rem;
  margin: 1.5rem;
}

.comment-info {
  color: var(--secondary);
  letter-spacing: 0.5px;
}

.comment-body {
  margin: 10px 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
