.header {
  text-align: center;
}

.page-header {
  font-family: "Euphoria Script", cursive;
  font-size: 5rem;
  text-align: center;
  margin: 1rem 0;
  letter-spacing: 2px;
}

/* These are all the color options for the buttons */
/* If you change the color variables, be sure to change the hover colors to be a darker shade of the colors you chose*/
.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: #e5a000;
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: #0097d7;
}

.btn-warning {
  background-color: var(--warning);
}

.btn-warning:hover {
  background-color: #e14617;
}

.btn-info {
  background-color: var(--info);
}

.btn-info:hover {
  background-color: #71a500;
}
