.auth-container {
  margin: 3rem auto;
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding: 3rem 2rem;
  box-shadow: 1px 2px 5px lightgray;
  background-color: var(--offWhite);
  width: 35%;
}

.login-header {
  font-size: 4rem;
  margin: 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
}

.auth-form-input {
  padding: 0.25rem;
}

.register-link {
  text-align: center;
}

.auth-fieldset {
  margin: 0.25rem 0rem;
}
